<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>548901403663-in6nvo00d2jc89tslah13aqtqemn6s5s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.548901403663-in6nvo00d2jc89tslah13aqtqemn6s5s</string>
	<key>API_KEY</key>
	<string>AIzaSyCeSWWDdUIi-rnwIqjQRwAQdK_91okaCJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>548901403663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.catelina777.duiet</string>
	<key>PROJECT_ID</key>
	<string>duiet-777</string>
	<key>STORAGE_BUCKET</key>
	<string>duiet-777.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548901403663:ios:be681fc0ca5ce559</string>
	<key>DATABASE_URL</key>
	<string>https://duiet-777.firebaseio.com</string>
</dict>
</plist>